body {
  background-color: #f3f0f0;
  margin: 10% 0 0 0;
  display: flex;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 100vw;
  justify-content: center;
  place-items: center;
  list-style: none;
}

.body {
  width: 60vw;
}

.grid {
  width: 60vw;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 50%);
}

.display {
  border: 2px solid #000;
}

.display ul li:nth-child(odd) {
  background-color: #c0bebe;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  height: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  height: 1.5rem;
  width: 4rem;
  border: 2px solid #000;
}

.input {
  margin-bottom: 1rem;
  border: 2px solid #000;
  height: 2rem;
}

.button {
  margin-left: 83%;
}